node-red2/.flows_tehuel.json.backup
[{"type":"tab","id":"ff8784b9.47c8a8","label":"Twitter","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"233f111.d65f06e","label":"Pagina Web","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"b8c49726.d79d48","label":"Testing","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"7ea5118d.a4ec68","label":"Mail","_def":{"defaults":{"label":{"value":""}}}},{"id":"72958cf2.f82904","type":"MySQLdatabase","z":"","host":"localhost","port":"3306","db":"the_bomb_game","tz":""},{"id":"9c25b9ef.fcde58","type":"twitter-credentials","z":"ff8784b9.47c8a8","screen_name":"@ArduBombGame"},{"id":"99c3d3f0.a5876","type":"tcp request","z":"ff8784b9.47c8a8","server":"thebombgame.com.ar","port":"8081","out":"char","splitc":"\\n","name":"","x":259,"y":81,"wires":[["d5789895.b6a7c"]]},{"id":"fc168aea.ed7da8","type":"twitter out","z":"ff8784b9.47c8a8","twitter":"9c25b9ef.fcde58","name":"Tweet","x":761,"y":505,"wires":[]},{"id":"5b2cc003.09f7a8","type":"inject","z":"ff8784b9.47c8a8","name":"","topic":"","payload":"data","payloadType":"str","repeat":"60","crontab":"","once":true,"x":70,"y":40,"wires":[["99c3d3f0.a5876"]]},{"id":"d5789895.b6a7c","type":"function","z":"ff8784b9.47c8a8","name":"Hex to String","func":"msg.payload = msg.payload.toString('utf8');\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":80,"wires":[["e4683593.128b58"]]},{"id":"8fc4c2f0.1f5ad8","type":"debug","z":"ff8784b9.47c8a8","name":"","active":false,"console":"false","complete":"false","x":488,"y":40,"wires":[]},{"id":"21940011.10c598","type":"catch","z":"ff8784b9.47c8a8","name":"catch","scope":["99c3d3f0.a5876"],"x":340,"y":40,"wires":[["8fc4c2f0.1f5ad8"]]},{"id":"5d9de145.e2f2c8","type":"mysql","z":"233f111.d65f06e","mydb":"72958cf2.f82904","name":"Bomb Game","x":610,"y":180,"wires":[["b350af6a.61bec"]]},{"id":"1a3214a1.58f69b","type":"function","z":"233f111.d65f06e","name":"Insert Usuario","func":"msg.topic = \"INSERT INTO USUARIOS (NOMBRE_USUARIO,PASS,TWITTER) VALUES (?,?,?)\";\nmsg.payload =[msg.payload[\"parametro1\"],msg.payload[\"parametro2\"],msg.payload[\"parametro3\"]];\nreturn msg;","outputs":1,"noerr":0,"x":389,"y":107,"wires":[["5d9de145.e2f2c8"]]},{"id":"17b4bb54.ad9e3d","type":"http in","z":"233f111.d65f06e","name":"","url":"/Alta-Usuario","method":"get","swaggerDoc":"","x":90,"y":20,"wires":[["1a3214a1.58f69b"]]},{"id":"fed44df1.a188a","type":"http response","z":"233f111.d65f06e","name":"","x":990,"y":140,"wires":[]},{"id":"b350af6a.61bec","type":"function","z":"233f111.d65f06e","name":"Id Insert","func":"//msg.payload = {valor:msg[\"insertId\"]};\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":260,"wires":[["fed44df1.a188a"]]},{"id":"6a26e4ab.ba267c","type":"catch","z":"233f111.d65f06e","name":"Catch mysql","scope":["5d9de145.e2f2c8"],"x":570,"y":40,"wires":[["ddf805c4.2ee52"]]},{"id":"ddf805c4.2ee52","type":"function","z":"233f111.d65f06e","name":"Mensaje Error","func":"msg.payload = \"Error al intentar Insertar en la Base De Datos\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":80,"wires":[["fed44df1.a188a"]]},{"id":"8d89fecf.f5f788","type":"http in","z":"233f111.d65f06e","name":"","url":"/Tabla-De-Posiciones","method":"get","swaggerDoc":"","x":110,"y":260,"wires":[["50c083f4.adcd54"]]},{"id":"3897cd42.3f0662","type":"mysql","z":"233f111.d65f06e","mydb":"72958cf2.f82904","name":"Bomb Game","x":450,"y":340,"wires":[["f28f0d7c.5a9f3"]]},{"id":"50c083f4.adcd54","type":"function","z":"233f111.d65f06e","name":"Select Puntajes","func":"msg.topic = \"SELECT U.NOMBRE_USUARIO,U.TWITTER,P.PUNTAJE FROM PUNTAJES P, USUARIOS U WHERE P.ID_USUARIO = U.ID_USUARIO;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":300,"wires":[["3897cd42.3f0662"]]},{"id":"f28f0d7c.5a9f3","type":"http response","z":"233f111.d65f06e","name":"","x":618,"y":340,"wires":[]},{"id":"a30a58a1.f1e62","type":"e-mail","z":"233f111.d65f06e","server":"thebombgame.com.ar","port":"465","name":"","dname":"","x":423,"y":590,"wires":[]},{"id":"fc9407dc.662ad8","type":"inject","z":"233f111.d65f06e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":166,"y":575,"wires":[["a30a58a1.f1e62"]]},{"id":"90152564.e7d9b","type":"function","z":"ff8784b9.47c8a8","name":"mensaje","func":"if (msg.payload.substr(0,1)=='N'){\n    var msg1 = { payload:msg.payload.substr(1,msg.payload.length)};\n}\nelse{\n    var msg2 = { payload:msg.payload.substr(1,msg.payload.length)};\n\n}\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":267,"y":204,"wires":[["c9641299.86b968"],["da164aba.e2d65"]]},{"id":"ae44aa2d.17381","type":"mysql","z":"ff8784b9.47c8a8","mydb":"72958cf2.f82904","name":"","x":637,"y":232,"wires":[["246868a2.ab1cc8"]]},{"id":"c9641299.86b968","type":"function","z":"ff8784b9.47c8a8","name":"puntaje de jugada local","func":"msg.puntaje= msg.payload.substr(5,msg.payload.length);\nmsg.topic = \"SELECT IFNULL(U.ID_USUARIO,0) ID_USUARIO ,(\"+msg.payload.substr(5,msg.payload.length)+\") PUNTAJE FROM USUARIOS U WHERE U.ID_USUARIO = \"+msg.payload.substr(0,4)+\" ;\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":194,"wires":[["ae44aa2d.17381"]]},{"id":"246868a2.ab1cc8","type":"function","z":"ff8784b9.47c8a8","name":"INSERT PUNTAJE","func":"if (msg.payload.length === 0){\n    var msgnuevo = {topic: \"INSERT INTO PUNTAJES (ID_USUARIO,PUNTAJE) VALUES(0,\"+msg.puntaje+\") ;\"}\n}else{\nvar msgnuevo = {topic: \"INSERT INTO PUNTAJES (ID_USUARIO,PUNTAJE) VALUES(\"+msg.payload[0][\"ID_USUARIO\"]+\",\"+msg.payload[0][\"PUNTAJE\"]+\") ;\"}\n}return msgnuevo;","outputs":1,"noerr":0,"x":636,"y":273,"wires":[["407304d5.05ca54"]]},{"id":"407304d5.05ca54","type":"mysql","z":"ff8784b9.47c8a8","mydb":"72958cf2.f82904","name":"","x":637,"y":310,"wires":[["82ae058c.da8b"]]},{"id":"82ae058c.da8b","type":"function","z":"ff8784b9.47c8a8","name":"PREPARAR EL TWEET","func":"msg.topic ='SELECT CONCAT(U.NOMBRE_USUARIO ,\" \" ,U.TWITTER,\" \", \"hizo \", P.PUNTAJE) TEXTO FROM PUNTAJES P, USUARIOS U WHERE P.ID_PUNTAJE = '+msg.payload[\"insertId\"]+' AND P.ID_USUARIO = U.ID_USUARIO;';\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":349,"wires":[["d712648f.5fb938"]]},{"id":"d712648f.5fb938","type":"mysql","z":"ff8784b9.47c8a8","mydb":"72958cf2.f82904","name":"","x":638,"y":386,"wires":[["d00e1fd2.b9d818"]]},{"id":"d00e1fd2.b9d818","type":"function","z":"ff8784b9.47c8a8","name":"MENSAJE","func":"//msg.payload=msg.payload[\"TEXTO\"];\nvar texto = msg.payload[0][\"TEXTO\"]+\" Puntos\";\nvar nuevo = {payload: texto };\nreturn nuevo;","outputs":1,"noerr":0,"x":606,"y":424,"wires":[["fc168aea.ed7da8"]]},{"id":"b5a3c5f.d9b00b8","type":"inject","z":"b8c49726.d79d48","name":"","topic":"","payload":"N9999P1234","payloadType":"str","repeat":"","crontab":"","once":false,"x":127,"y":96,"wires":[["955e09c6.2df2c"]]},{"id":"955e09c6.2df2c","type":"tcp out","z":"b8c49726.d79d48","host":"localhost","port":"8080","beserver":"client","base64":false,"end":false,"name":"","x":363,"y":95,"wires":[]},{"id":"da164aba.e2d65","type":"function","z":"ff8784b9.47c8a8","name":"puntaje de jugada red","func":"msg.jugador1= msg.payload.substr(0,4);\nmsg.jugador2= msg.payload.substr(5,msg.payload.length);\nmsg.topic = 'SELECT CONCAT(U.NOMBRE_USUARIO,\" \", U.TWITTER) TEXTO FROM USUARIOS U WHERE U.ID_USUARIO='+msg.jugador1;\nreturn msg;","outputs":1,"noerr":0,"x":216,"y":323,"wires":[["9548f6ea.d5ad48"]]},{"id":"9548f6ea.d5ad48","type":"mysql","z":"ff8784b9.47c8a8","mydb":"72958cf2.f82904","name":"","x":207,"y":364,"wires":[["a6bdd85e.b7e97"]]},{"id":"a6bdd85e.b7e97","type":"function","z":"ff8784b9.47c8a8","name":"DATOS JUGADOR 1","func":"if (msg.payload.length===0){\n    msg.jugador1=\"Anonimo \";\n}\nelse\n{\n   msg.jugador1=msg.payload[0][\"TEXTO\"];\n}\nmsg.topic = 'SELECT CONCAT(U.NOMBRE_USUARIO,\" \", U.TWITTER) TEXTO FROM USUARIOS U WHERE U.ID_USUARIO='+msg.jugador2;\n\nreturn msg;","outputs":1,"noerr":0,"x":216,"y":406,"wires":[["a5b101e3.afb0d8"]]},{"id":"a5b101e3.afb0d8","type":"mysql","z":"ff8784b9.47c8a8","mydb":"72958cf2.f82904","name":"","x":201,"y":449,"wires":[["cf7b3c0e.097a48"]]},{"id":"cf7b3c0e.097a48","type":"function","z":"ff8784b9.47c8a8","name":"DATOS JUGADOR 2","func":"if (msg.payload.length===0){\n    msg.jugador2=\"Anonimo \";\n}\nelse\n{\n   msg.jugador2=msg.payload[0][\"TEXTO\"];\n}\nmsg.payload = \"Combate: \"+msg.jugador1+\" Le Gano A \"+msg.jugador2;\nreturn msg;","outputs":1,"noerr":0,"x":212,"y":503,"wires":[["fc168aea.ed7da8"]]},{"id":"182a8269.624f16","type":"inject","z":"b8c49726.d79d48","name":"","topic":"","payload":"G9998A9997","payloadType":"str","repeat":"","crontab":"","once":false,"x":125,"y":233,"wires":[["5248f291.6176fc"]]},{"id":"5248f291.6176fc","type":"tcp out","z":"b8c49726.d79d48","host":"localhost","port":"8080","beserver":"client","base64":false,"end":false,"name":"","x":360,"y":276,"wires":[]},{"id":"e4f9bf0d.1ba3f","type":"inject","z":"b8c49726.d79d48","name":"","topic":"","payload":"N0000P0001","payloadType":"str","repeat":"","crontab":"","once":false,"x":127,"y":42,"wires":[["955e09c6.2df2c"]]},{"id":"4c085d66.2c2c3c","type":"inject","z":"b8c49726.d79d48","name":"","topic":"","payload":"N0001P1500","payloadType":"str","repeat":"","crontab":"","once":false,"x":126,"y":151,"wires":[["955e09c6.2df2c"]]},{"id":"ed458ad6.9f2958","type":"comment","z":"b8c49726.d79d48","name":"Testeo Mensajes para Twitter Partida Local","info":"","x":437,"y":153,"wires":[]},{"id":"525c2c5b.16507c","type":"inject","z":"b8c49726.d79d48","name":"","topic":"","payload":"G9998A0001","payloadType":"str","repeat":"","crontab":"","once":false,"x":122,"y":281,"wires":[["5248f291.6176fc"]]},{"id":"1816fb99.d53684","type":"inject","z":"b8c49726.d79d48","name":"","topic":"","payload":"G0001A9998","payloadType":"str","repeat":"","crontab":"","once":false,"x":122,"y":332,"wires":[["5248f291.6176fc"]]},{"id":"b8411f98.6ce528","type":"comment","z":"b8c49726.d79d48","name":"Testeo Mensajes para Twitter Partida Red","info":"","x":429,"y":339,"wires":[]},{"id":"e4683593.128b58","type":"link out","z":"ff8784b9.47c8a8","name":"String","links":["56592571.be8f9c"],"x":639,"y":72,"wires":[]},{"id":"56592571.be8f9c","type":"link in","z":"ff8784b9.47c8a8","name":"String Para Publicar","links":["e4683593.128b58"],"x":71,"y":205,"wires":[["90152564.e7d9b"]]},{"id":"134a4c21.6f7dcc","type":"exec","z":"7ea5118d.a4ec68","command":"/home/enviarMail.sh","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":673,"y":174,"wires":[[],[],[]]},{"id":"cc3de434.068e88","type":"e-mail in","z":"7ea5118d.a4ec68","name":"Busca Mail Nuevos","protocol":"IMAP","server":"localhost","useSSL":false,"port":"143","box":"INBOX","disposition":"Read","repeat":"60","x":103,"y":59,"wires":[["a54e3f65.c7ce3"]]},{"id":"a54e3f65.c7ce3","type":"function","z":"7ea5118d.a4ec68","name":"Enviar Mails avisando que hay mail en ROOT","func":"\nreturn [{payload:\"ElRootTieneUnMail maxi@thebombgame.com.ar\"},\n{payload:\"ElRootTieneUnMail tehuel@thebombgame.com.ar\"},\n{payload:\"ElRootTieneUnMail rosali@thebombgame.com.ar\"},\n{payload:\"ElRootTieneUnMail liza@thebombgame.com.ar\"}];","outputs":"4","noerr":0,"x":367,"y":117,"wires":[["134a4c21.6f7dcc"],["134a4c21.6f7dcc"],["134a4c21.6f7dcc"],["134a4c21.6f7dcc"]]}]